<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiYTRlZmNjYzgtZTdhNy00MjZiLTg0MWEtNjJjNGY2OWQyZjQ1IiwidCI6ImVhNmNjNTllLTNiMzItNGU0My1hMjFhLTU1OThmMDJjYjU2MCJ9" frameborder="0" allowFullScreen="true"></iframe>

</body>
</html>